.profile-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.profile-card {
    width: 480px;
    padding: 35px;
    background: #0e0e0e;
    color: white;
    border-radius: 18px;
    border: 1px solid #222;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    position: relative;
}

.profile-header {
    text-align: center;
    margin-bottom: 25px;
}

.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4b7bec;
    box-shadow: 0 0 10px rgba(75,123,236,0.4);
    margin-bottom: 15px;
}

.username {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.fullname {
    color: #ccc;
    font-size: 17px;
}

.edit-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 26px;
    color: #4b7bec;
    text-decoration: none;
}

.edit-icon:hover {
    color: #6c8dfb;
}

.profile-info {
    margin-top: 20px;
    line-height: 1.8;
}

.profile-info a {
    color: #4b7bec;
}

.profile-info strong {
    color: #79a7ff;
}


.edit-btn-wrapper {
    text-align: center;
    margin-top: 20px;
}

.edit-text-btn {
    display: inline-block;
    padding: 8px 16px;
    background: #4b7bec;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-size: 15px;
}

.edit-text-btn:hover {
    background: #6c8dfb;
}
