{% extends "main/base.html" %}
{% load static %}

{% block title %} Profile — {{ profile_user.username }} {% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="profile-container">

    <div class="profile-sidebar">

        <img src="{% if profile_user.userprofile.profile_picture %}
                    {{ profile_user.userprofile.profile_picture.url }}
                  {% else %}
                    /media/accounts/profile_pictures/default_userprofile_pic.png
                  {% endif %}"
             class="avatar">

        <h2 class="username-display">@{{ profile_user.username }}</h2>

        <p class="fullname">
            {{ profile_user.first_name }} {{ profile_user.last_name }}
        </p>

        {% if request.user == profile_user %}
        <a class="edit-btn" href="{% url 'accounts:update_profile' %}" data-tooltip="Edit Profile">
            <i class="material-icons">manage_accounts</i>
        </a>

        {% endif %}

    </div>


    <div class="profile-right">

        <h2 class="section-title">About</h2>

        <p class="info-text"><strong>Email:</strong> {{ profile_user.email }}</p>

        <p class="info-text"><strong>Bio:</strong> 
            {% if profile_user.userprofile.bio %}
                {{ profile_user.userprofile.bio }}
            {% else %}
                No bio available
            {% endif %}
        </p>

        <p class="info-text"><strong>Website:</strong>
            {% if profile_user.userprofile.website %}
                <a href="{{ profile_user.userprofile.website }}" target="_blank" class="profile-link">
                    {{ profile_user.userprofile.website }}
                </a>
            {% else %}
                No website provided
            {% endif %}
        </p>



        <div class="section-divider"></div>

        <h2 class="section-title">Posts</h2>
        <p class="section-subtitle">Recent posts by {{ profile_user.username }}</p>


        {% if recent_posts %}
            <div class="user-posts">
                {% for post in recent_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right">
                <a href="{% url 'accounts:user_posts' profile_user.username %}" class="neon-btn">
                    View all posts
                </a>
            </div>

        {% else %}
            <p class="posts-placeholder">No posts yet.</p>
        {% endif %}


        <div class="section-divider"></div>
        <h2 class="section-title">Liked Posts</h2>

        {% if liked_posts %}
            <div class="user-posts">
                {% for post in liked_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>

            <div class="btn-row-right">
                <a href="{% url 'accounts:user_liked_posts' profile_user.username %}" class="neon-btn">
                    View all liked posts →
                </a>
            </div>

        {% else %}
            <p class="posts-placeholder">No liked posts.</p>
        {% endif %}


        <div class="section-divider"></div>
        <h2 class="section-title">Bookmarked Posts</h2>

        {% if bookmarked_posts %}
            <div class="user-posts">
                {% for post in bookmarked_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right">
                <a href="{% url 'accounts:user_bookmarked_posts' profile_user.username %}" class="neon-btn">
                    View all bookmarked posts →
                </a>
            </div>

        {% else %}
            <p class="posts-placeholder">No bookmarked posts.</p>
        {% endif %}


        <div class="section-divider"></div>
        <h2 class="section-title">Commented Posts</h2>

        {% if commented_posts %}
            <div class="user-posts">
                {% for post in commented_posts %}
                    {% include "accounts/post_card.html" with post=post %}
                {% endfor %}
            </div>
            <div class="btn-row-right">
                <a href="{% url 'accounts:user_commented_posts' profile_user.username %}" class="neon-btn">
                    View all commented posts →
                </a>
            </div>

        {% else %}
            <p class="posts-placeholder">No commented posts.</p>
        {% endif %}





    </div>

</div>

{% endblock content %}
