{% extends "main/base.html" %}
{% load static %}

{% block title %} Sign Up — ABL {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock extra_css %}

{% block content %}



<div class="auth-card">
    <svg class="border-anim">
        <rect class="path-blue"></rect>
        <rect class="path-purple"></rect>
    </svg>



    <h2>Create an Account</h2>


    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label>Email</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label>First Name</label>
            {{ form.first_name }}
        </div>

        <div class="form-group">
            <label>Last Name</label>
            {{ form.last_name }}
        </div>

        <div class="form-group">
            <label>Password</label>
            {{ form.password }}

            <ul class="password-rules">
                <li id="rule-length">At least 8 characters</li>
                <li id="rule-upper">One uppercase letter (A-Z)</li>
                <li id="rule-lower">One lowercase letter (a-z)</li>
                <li id="rule-number">One number (0-9)</li>
                <li id="rule-special">One special character (@$!%*?&#^+-)</li>
            </ul>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            {{ form.confirm_password }}

            <p id="password-match" class="match-text"></p>
        </div>


        <div class="form-group">
            <label>Bio</label>
            {{ form.bio }}
        </div>

        <div class="form-group">
            <label>Website</label>
            {{ form.website }}
        </div>

        <div class="form-group">
            <label>Profile Picture</label>
            {{ form.profile_picture }}
        </div>

        <button type="submit" class="primary-btn">Create Account</button>

    </form>

    <p class="switch-link">
        Already have an account?
        <a href="{% url 'accounts:sign_in' %}">Sign In</a>
    </p>

</div>

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/signup.js' %}"></script>


{% endblock extra_js %}
