{% extends "main/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}ABL | Cosmic Feed{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8eLwA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% static 'css/all_posts_styles.css' %}">
{% endblock %}

{% block content %}

  
    
<div class="posts-feed-container">
    <div class="feed-header mb-5">
        <div class="page-description">
            <h1>Cosmic Chronicles</h1>
            <p>Explore the latest celestial discoveries shared by our community.</p>
        </div>
          <form method="GET" action="{% url 'posts:post_search_view' %}" class="search-bar-container">
        <input 
            type="text" 
            name="search" 
            placeholder="Search celestial discoveries..." 
            value="{{ query }}" 
            class="search-input"
        >
        <button type="submit" class="search-button">Search</button>
    </form>
    </div> 
    <div class="post-grid">
        {% for post in posts %}
            {% include 'posts/_post_card.html' with post=post %}
        {% empty %}
            <div class="col-12">
                <p class="text-center p-5 text-muted no-posts-message">
                    The cosmic dust settled. No posts found yet!
                </p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}