{% extends "main/base.html" %}
{% load static %}

{% block title %} Add New Planet — ABL {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/planet_add.css' %}">
{% endblock extra_css %}

{% block content %}

{% if user.is_staff or perms.planets.add_planet %}

<div class="auth-card">

    <svg class="border-anim">
        <rect class="path-blue"></rect>
        <rect class="path-purple"></rect>
    </svg>

    <h2>Add New Planet</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label>{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}

        <button type="submit" class="primary-btn">Add Planet</button>
    </form>

</div>

{% else %}
    <p class="no-access">Only staff members can add planets.</p>
{% endif %}

{% endblock content %}


{% block extra_js %}
<script src="{% static 'js/planet_add.js' %}"></script>
{% endblock extra_js %}
