{% extends "main/base.html" %}
{% load static %}

{% block title %} All Planets  {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/all_planets.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="planet-gallery reveal">

  <form method="GET" action="{% url 'planets:planets_search_view' %}" class="search-bar-container">
        <input 
            type="text" 
            name="search" 
            placeholder="Search for a planet"
            value="{{ query }}"
            class="search-input reveal"
        >
        <select name="category" class="search-input reveal">
            <option value="">Select Category</option>
            <option value="Gas Giant" {% if category == "Gas Giant" %}selected{% endif %}>Gas Giant</option>
            <option value="Terrestrial" {% if category == "Terrestrial" %}selected{% endif %}>Terrestrial</option>
            <option value="Terrestrial" {% if category == "ice_giant" %}selected{% endif %}>Ice Giant</option>
            <option value="Terrestrial" {% if category == "dwarf" %}selected{% endif %}>Dwarf Planet</option>


        </select>

        <button class="search-button reveal">Search</button>
    </form>




    {% for p in planets %}
    <div class="planet-card {% if forloop.first %}active{% endif %}" data-index="{{ forloop.counter0 }}">

        

        <button class="arrow left" onclick="prevPlanet()">&#10094;</button>
        <button class="arrow right" onclick="nextPlanet()">&#10095;</button>

        
    
        <div class="planet-card-content">
            <h1>{{ p.name }}</h1>
            <a href="{% url 'planets:planet_detail' p.id %}" class="detail-btn">View Details</a>
        </div>

        <div class="planet-img-wrapper">
            <img src="{{ p.image.url }}" alt="{{ p.name }}">
        </div>

    </div>
    {% endfor %}



</div>



{% endblock content %}
{% block extra_js %}
<script src="{% static 'js/all_planets.js' %}"></script>
{% endblock extra_js %}

