{% extends "main/base.html" %}
{% load static %}

{% block content %}

<head>
    <!-- ربط ملف الـ CSS -->
    <link rel="stylesheet" href="{% static 'css/planet_search.css' %}">
</head>

<div class="search-page-wrapper">

    <h1 class="search-title">Search Results</h1>
    <p class="results-count">{{ planets|length }} results found</p> 

    <form method="GET" action="{% url 'planets:planets_search_view' %}" class="search-bar-container">
        <input 
            type="text" 
            name="search" 
            placeholder="Search for a planet"
            value="{{ query }}"
            class="search-input"
        >

        <!-- فلتر التصنيف -->
        <select name="category" class="search-input">
            <option value="">Select Category</option>
            <option value="Gas Giant" {% if category == "Gas Giant" %}selected{% endif %}>Gas Giant</option>
            <option value="Terrestrial" {% if category == "Terrestrial" %}selected{% endif %}>Terrestrial</option>
            <option value="Ice_Giant" {% if category == "Ice_Giant" %}selected{% endif %}>Ice Giant</option>
            <option value="Dwarf" {% if category == "Dwarf" %}selected{% endif %}>Dwarf Planet</option>
            <!-- يمكن إضافة فئات أخرى هنا -->
        </select>

        <button class="search-button">Search</button>
    </form>

    {% if planets %}
        <div class="cards-grid search-cards">
            {% for planet in planets %}
                {% include 'planets/planet_card.html' with planet=planet %}
            {% endfor %}
        </div>
    {% else %}
        <p class="no-results">No results found.</p>
    {% endif %}

</div>

{% endblock %}
