{% extends "main/base.html" %}
{% load static %}

{% block title %} {{ planet.name }} — ABL {% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/planet_detail.css' %}">
{% endblock extra_css %}

{% block content %}
<img src="{% static 'images/bgspace3.jpg' %}" class="stars-bg">

{% if page_obj.number == 1 %}
<!--OVERVIEW -->

<div class="planet-hero-card">

    <div class="planet-left">
        <h1 class="planet-name">{{ planet.name }}</h1>
          {% if user.is_authenticated %}
            <a href="{% url 'planets:bookmark' planet.id %}" class="bookmark-icon">
                {% if is_bookmarked %}
                    <i class="material-icons filled">bookmark</i>
                {% else %}
                    <i class="material-icons">bookmark_border</i>
                {% endif %}
            </a>
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'planets:planet_update_view' planet.id %}" class="icon-btn edit">
            <i class="material-icons">edit</i>
        </a>

        <a href="{% url 'planets:planet_delete_view' planet.id %}" class="icon-btn delete">
            <i class="material-icons">delete</i>
        </a>
        {% endif %}

        <p class="planet-category">{{ planet.get_category_display }}</p>

        <p class="planet-desc">{{ planet.description }}</p>

        <div class="btns-wrapper">
            <a href="{% url 'planets:planets_list' %}" class="detail-btn">← Back</a>
            <a href="?page=2" class="detail-btn">Next →</a>
            
        </div>


    </div>

    <div class="planet-right">
        {% if planet.image %}
        <img src="{{ planet.image.url }}" class="planet-circle-img">
        {% endif %}
    </div>

</div>


{% else %}
<!--DETAILS -->

<h2 class="facts-title">Detailed Planet Facts</h2>

<div class="facts-layout">

    <div class="facts-left">

        {% if planet.distance_from_sun %}
        <div class="fact-item">
            <h4>Distance from Sun</h4>
            <p>{{ planet.distance_from_sun }}</p>
        </div>
        {% endif %}

        {% if planet.temperature %}
        <div class="fact-item">
            <h4>Temperature</h4>
            <p>{{ planet.temperature }}</p>
        </div>
        {% endif %}

        {% if planet.day_length %}
        <div class="fact-item">
            <h4>Day Length</h4>
            <p>{{ planet.day_length }}</p>
        </div>
        {% endif %}

    </div>

    <div class="planet-rotate">
        <div class="planet-rotate-img">
            <img src="{{ planet.image.url }}" alt="{{ planet.name }}">
        </div>
    </div>

    <div class="facts-right">

        {% if planet.gravity %}
        <div class="fact-item">
            <h4>Gravity</h4>
            <p>{{ planet.gravity }}</p>
        </div>
        {% endif %}

        {% if planet.radius %}
        <div class="fact-item">
            <h4>Radius</h4>
            <p>{{ planet.radius }}</p>
        </div>
        {% endif %}

        {% if planet.moons_count %}
        <div class="fact-item">
            <h4>Moons Count</h4>
            <p>{{ planet.moons_count }}</p>
        </div>
        {% endif %}

        {% if planet.atmosphere %}
        <div class="fact-item">
            <h4>Atmosphere</h4>
            <p>{{ planet.atmosphere }}</p>
        </div>
        {% endif %}

    </div>

</div>

<!-- Weight Calculator -->
<div class="weight-box">
    <h3>Calculate Your Weight on Earth</h3>

    <div class="weight-row">
        <label>Enter your weight on Earth (kg):</label>
        <input type="number" id="earthWeight" placeholder="e.g., 60">
        <button onclick="calculateWeight()">Calculate</button>
    </div>

    <p id="weightResult"></p>

    <input type="hidden" id="planetGravity" value="{{ planet.gravity }}">
</div>



<div class="btns-wrapper">
    <a href="?page=1" class="detail-btn">← Back</a>
</div>


{% endif %}

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/planet_detail.js' %}"></script>

{% endblock extra_js %}