* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* base*/
.glass-navbar {
    position: fixed;
    top: 22px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 85%;
    padding: 14px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 20px;

    z-index: 9999;
    box-shadow:
        0 0 20px rgba(255,255,255,0.08),
        0 4px 20px rgba(0,0,0,0.4);
}

.glass-logo {
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 15px rgba(255,255,255,0.7);
}

.glass-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 30px;
}

.glass-center a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
    transition: 0.3s;
}

.glass-center a:hover {
    opacity: 1;
    text-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.active-link {
    position: relative;
    opacity: 1 !important;
    color: #7EC8FF !important;
    text-shadow: 0 0 10px #7EC8FF;
}

.active-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #7EC8FF;
    box-shadow: 0 0 10px #7EC8FF, 0 0 20px #7EC8FF;
    border-radius: 20px;
}


.glass-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

.glass-btn {
    padding: 10px 14px;
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.28);
    border-radius: 12px;

    display: flex;
    align-items: center;
    gap: 6px;

    color: white;
    text-decoration: none;

    transition: 0.25s ease;
}

.glass-btn:hover {
    background: rgba(255,255,255,0.25);
    transform: translateY(-2px);
}


.welcome-text {
    display: flex;
    align-items: center;
    gap: 6px;

    color: white;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;

    opacity: 0.9;
    transition: 0.3s ease;
}
.welcome-active {
    color: #7EC8FF !important;
    text-shadow: 0 0 8px #7EC8FF;
    opacity: 1 !important;
}


.welcome-text i {
    font-size: 20px;
    opacity: 0.9;
    transform: translateY(-2px); 
}

.welcome-text:hover {
    opacity: 1;
    text-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.messages {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999999;
    display: flex;
    justify-content: center;
    width: 100%;
    pointer-events: none;
}

.msg {
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.25);
    color: #fff;

    opacity: 0;
    min-width: 260px;

    animation: fadeMsg 4s ease forwards;
}

.msg.success {
    background: rgba(0, 200, 90, 0.25);
    border-color: rgba(0, 255, 120, 0.45);
    box-shadow: 0 0 10px rgba(0,255,110,0.4);
}

.msg.error {
    background: rgba(255, 60, 60, 0.25);
    border-color: rgba(255, 80, 80, 0.45);
    box-shadow: 0 0 10px rgba(255,100,100,0.4);
}
.msg.info {
    background: rgba(60, 150, 255, 0.25);
    border-color: rgba(100,180,255,0.45);
}
@keyframes fadeMsg {
    0%   { opacity: 0; transform: translateY(-10px); }
    10%  { opacity: 1; transform: translateY(0); }
    80%  { opacity: 1; transform: translateY(0); }
    100% { opacity: 0; transform: translateY(-10px); }
}


.footer {
    width: 100%;
    margin-top: 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255,255,255,0.15);

    padding: 40px 0 25px;
    color: #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-wrapper {
    width: 85%;
    max-width: 1200px;

    display: flex;
    justify-content: center; 
    align-items: flex-start;
    gap: 400px;               
}


.footer-col {
    display: flex;
    flex-direction: column;
}

.footer-col h4 {
    color: white;
    font-size: 17px;
    margin-bottom: 10px;
    font-weight: 600;
    text-shadow: none !important;
}

.footer-col a {
    display: block;
    margin: 4px 0;
    color: #bbb;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-col a:hover {
    color: #7EC8FF;
}

.footer-subtitle {
    margin-top: 5px;
    opacity: 0.75;
    font-size: 14px;
}

.footer-copy {
    margin-top: 20px;
    font-size: 13px;
    opacity: 0.6;
}


/* home*/
.hero {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.20);
    z-index: 2;
}

.hero-content {
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: 330px;
}

.abl-container {
    margin-top: 20px;
}

.abl-letters span {
    font-size: 70px;
    font-weight: 900;
    margin: 0 12px;
    letter-spacing: 3px;
    opacity: 0;
    color: white;
    text-shadow:
    0 0 10px rgba(120,170,255,0.4),
    0 0 18px rgba(120,170,255,0.2);

    animation: fadeIn 0.8s forwards;
}


.abl-letters span:nth-child(1) { animation-delay: 0.3s; }
.abl-letters span:nth-child(2) { animation-delay: 0.6s; }
.abl-letters span:nth-child(3) { animation-delay: 0.9s; }


.abl-words {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.abl-words span {
    font-size: 22px;
    font-weight: 500;
    opacity: 0;
    animation: fadeIn 0.9s forwards;
    color: rgba(255,255,255,0.9);
}

.abl-words span:nth-child(1) { animation-delay: 1.3s; }
.abl-words span:nth-child(2) { animation-delay: 1.6s; }
.abl-words span:nth-child(3) { animation-delay: 1.9s; }


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(12px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* intro panel style */
.intro-container {
    text-align: center;
    margin: auto;
    color: white;
    padding: 40px;
}

.intro-title {
    font-size: 60px;
    font-weight: 800;
    letter-spacing: 4px;
    text-shadow: 0 0 20px rgba(255,255,255,0.5);
}

.intro-subtitle {
    font-size: 22px;
    margin-top: 10px;
    opacity: 0.8;
}

.planet-explorer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.planet-card {
    width: 85%;
    height: 380px;
    position: relative;                    
    background: radial-gradient(circle at top, #1a1a1e, #050506); 
    border-radius: 28px;
    border: 1px solid rgba(255,255,255,0.08);
    display: flex;
    overflow: hidden;
}
.card-bg-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.28;       
    pointer-events: none; 
    z-index: 0;
    border-radius: 28px;
}

.planet-card > *:not(.card-bg-video) {
    position: relative;
    z-index: 3;
}

/* menu*/
.planet-menu {
    width: 22%;
    padding: 20px;
    border-right: 1px solid rgba(255,255,255,0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.planet-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    background: transparent;
    border: none;
    color: white;
    opacity: .7;
    cursor: pointer;
    border-radius: 18px;
    transition: .3s ease;
}

.planet-btn:hover,
.planet-btn.active {
    background: rgba(255,255,255,0.08);
    opacity: 1;
}

.planet-dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.sun-dot { background: #ffae00; box-shadow: 0 0 10px #ffa600; }
.earth-dot { background: #4ea7ff; box-shadow: 0 0 8px #4ea7ff; }
.moon-dot { background: #bbbbbb; box-shadow: 0 0 8px #bbbbbb; }
.star-dot {background: #6fa8ff; box-shadow: 0 0 10px #6fa8ff;}

.planet-display {
    flex: 1;
    position: relative;
    padding: 30px 40px;
    display: flex;
    
}

.planet-panel {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    gap: 40px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(40px);
    transition: .4s ease;
}

.planet-panel.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
.planet-image {
    background: none !important;
}
.planet-image img {
    width: 260px;        
    height: 260px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow:
        0 0 40px rgba(0,0,0,0.8),
        0 0 25px rgba(255,255,255,0.15);
  
}


.planet-info h3 {
    font-size: .8rem;
    letter-spacing: .2em;
    opacity: .6;
    margin-bottom: 5px;
}

.planet-info h1 {
    font-family: "Audiowide", sans-serif;
    font-size: 2.3rem;
    margin-bottom: 12px;
}

.planet-ayah {
    font-size: 22px;
    color: #f5e29e;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgba(255,255,255,0.4);
    width: 0;
    animation: typing 4s steps(40) forwards, blink .7s infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink {
    50% { border-color: transparent; }
}
.contact-fullscreen {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-top: 120px; 
}

.contact-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.contact-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.35);
    z-index: 2;
}

.contact-card {
    position: relative;
    z-index: 3;
    width: 50%;
    margin: auto;
    margin-top: 190px;
    margin-left: 110px; 
    padding: 40px;
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    border-radius: 22px;
    border: 1px solid rgba(255,255,255,0.15);
    color: white;
}

.row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.field {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.field label {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom: 5px;
}

.field input,
.field textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.25);
    padding: 8px;
    color: white;
}

.checkbox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-btn {
    padding: 10px 22px;
    background: rgba(255,255,255,0.15);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    background: rgba(255,255,255,0.3);
}


/* planet*/

.featured-planets-section {
    width: 100%;
    padding: 10px 0;
    position: relative;
    margin-top: 30px; 
}

.featured-title {
    margin-top: 2px; 

    text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
}

.featured-grid {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 35px;
}

.featured-card {
    position: relative;
    background: #0d0d0d;
    border: 1px solid rgba(255,255,255,0.15);
    border-radius: 20px;
    padding: 20px;
    height: 240px;
    overflow: hidden;
    transition: 0.3s ease;
}

.featured-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 30px rgba(255,255,255,0.15);
}

.featured-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 72%;
    height: 100%;
    object-fit: cover;
    opacity: .78;
}

.featured-content {
    position: relative;
    z-index: 3;
    color: white;
}

.featured-content h3 {
    font-size: 24px;
    margin-bottom: 12px;
    font-family: 'Orbitron', sans-serif;
}

.featured-btn {
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: .3s;
}

.featured-btn:hover {
    background: white;
    color: black;
}

.featured-more-wrapper {
    text-align: center;
    margin-top: 40px;
}

.featured-more-btn {
    padding: 12px 30px;
    border: 2px solid white;
    border-radius: 14px;
    color: white;
    text-decoration: none;
    transition: .3s;
}

.featured-more-btn:hover {
    background: white;
    color: black;
}
/* card planet*/

.bh-card {
    width: 55%;                 
    max-width: 400px;          
    height: 260px;
    margin: 0 auto 40px auto;   
    background: #000;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(255,255,255,0.15);
    transition: 0.3s ease;
}

.bh-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 35px rgba(255,255,255,0.15);
}

.bh-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    filter: brightness(85%);
    transition: 0.3s ease-in-out;
}

.bh-card:hover .bh-img {
    filter: brightness(100%);
}

.bh-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    z-index: 3;
}

.bh-btn {
    align-self: flex-start;
    padding: 10px 20px;
    border-radius: 14px;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: .3s ease;
    backdrop-filter: blur(4px);
}

.bh-btn:hover {
    background: white;
    color: black;
}

.bh-title {
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,0.7);
}
.featured-more-wrapper.top {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 15px;
    width: 85%; 
    margin-left: auto;
    margin-right: auto;
}
