.planet-gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    
}
.background-space {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.35; 
}

.planet-card {
    display: none;
}

.planet-card.active {
    display: block;
}

.planet-card-content h1 {
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 10px;
}

.detail-btn {
    color: #7EC8FF;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
}

.planet-img-wrapper {
    width: 440px;
    height: 440px;
    margin: 20px auto 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: none;
}

.planet-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: rotatePlanet 18s linear infinite;
}


@keyframes rotatePlanet {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255,255,255,0.3);
    border: none;
    padding: 18px 22px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    backdrop-filter: blur(4px);
    transition: .3s ease;
}

.arrow:hover {
    background: rgba(255,255,255,0.6);
}

.arrow.left { left: 22%; }
.arrow.right { right: 22%; }
