/*page 1 */

.planet-hero-card {
    width: 90%;
    max-width: 1300px;
    margin: 140px auto 80px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.stars-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.35; 
}

.planet-left {
    width: 55%;
    margin-left: 60px;
}

.planet-name {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}

.planet-category {
    margin-top: 10px;
    font-size: 1.15rem;
    letter-spacing: 2px;
    color: #7EC8FF;
    font-weight: bold;
}

.planet-desc {
    margin-top: 20px;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #ccc;
    max-width: 90%;
}

.detail-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 28px;
    border-radius: 8px;
    color: #7EC8FF;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgba(126, 200, 255, 0.4);
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    font-size: 15px;
}

.detail-btn:hover {
    background: #7EC8FF;
    color: #000;
    border-color: #7EC8FF;
}

.btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    gap: 20px;
    margin-top: 35px;
}
.icon-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.2s ease;
}

.icon-btn i {
    font-size: 26px;
}


.icon-btn.edit i {
    color: #7EC8FF;
}

.icon-btn.edit:hover {
    background: rgba(126, 200, 255, 0.15);
}


.icon-btn.delete i {
    color: #ff6b6b;
}

.icon-btn.delete:hover {
    background: rgba(255, 107, 107, 0.15);
}

.planet-name {
    display: flex;
    align-items: center;
    gap: 15px;
}

.bookmark-icon i {
    font-size: 32px;
    color: #7EC8FF;
    cursor: pointer;
    transition: .3s ease;
}

.bookmark-icon i.filled {
    color: #ffd369;
}

.bookmark-icon:hover i {
    transform: scale(1.2);
}


.planet-right {
    position: relative;
    width: 100%;
    height: 600px; 
}


.planet-circle-img {
    position: absolute;
    right: -120px;  
    top: 60%;
    transform: translateY(-50%);
    
    width: 800px;   
    height: 800px;
    border-radius: 50%;
    object-fit: cover;

  
    filter: drop-shadow(0 0 200px rgba(0,0,0,1));

    
    -webkit-mask-image: radial-gradient(circle at center,
                     rgba(0,0,0,1) 80%,
                     rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle at center,
                     rgba(0,0,0,1) 50%,
                     rgba(0,0,0,0) 100%);

    transition: .4s ease;
}

.planet-circle-img:hover {
    filter: drop-shadow(0 0 260px rgba(0,0,0,1));
    transform: translateY(-50%) scale(1.03);
}




/*page 2*/

.facts-title {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 36px;       
    font-weight: 700;
    color: #fff;
    margin-top: 160px;     
    margin-bottom: 70px;  
}

.facts-layout {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.facts-left,
.facts-right {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 100px;
    margin-right: 80px;
}

.fact-item h4 {
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    color: #b5d9ff;
    margin-top: -40px;
}


.fact-item {
    position: relative;
    padding-top: 25px;
    
}


.fact-item::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    background: #c7c7c7;
    opacity: 0.7;
    z-index: -1; 
}


.facts-left .fact-item::before {
    width: 140px;
    left: 100%;      
    margin-left: 25px;
}


.facts-right .fact-item::before {
    width: 140px;
    right: 100%;      
    margin-right: 40px;
}


.planet-rotate {
    display: flex;
    justify-content: center;
    margin-top: 40px;   
    margin-bottom: 40px; 
}

.planet-rotate-img {
    width: 520px;   
    height: 520px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(232, 234, 235, 0.7);
    margin-bottom: 40px;
}

.planet-rotate-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: spinPlanet 30s linear infinite;
    border-radius: 50%;
}

@keyframes spinPlanet {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


@media (max-width: 900px) {

    .planet-hero-card {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .planet-left,
    .planet-right {
        width: 100%;
    }

    .planet-circle-img {
        width: 260px;
        height: 260px;
    }

    .facts-layout {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .planet-rotate-img {
        margin: auto;
    }
}
