/*page 1 */

.planet-hero-card {
    width: 90%;
    max-width: 1300px;
    margin: 140px auto 80px auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.planet-left {
    width: 55%;
}

.planet-name {
    font-size: 3rem;
    font-weight: 800;
    color: #fff;
}

.planet-category {
    margin-top: 10px;
    font-size: 1.15rem;
    letter-spacing: 2px;
    color: #7EC8FF;
    font-weight: bold;
}

.planet-desc {
    margin-top: 20px;
    line-height: 1.7;
    font-size: 1.1rem;
    color: #ccc;
    max-width: 90%;
}

.detail-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px 28px;
    border-radius: 8px;
    color: #7EC8FF;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid rgba(126, 200, 255, 0.4);
    backdrop-filter: blur(5px);
    transition: 0.3s ease;
    font-size: 15px;
}

.detail-btn:hover {
    background: #7EC8FF;
    color: #000;
    border-color: #7EC8FF;
}

.btns-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}


.planet-right {
    width: 45%;
    display: flex;
    justify-content: center;
}

.planet-circle-img {
    width: 340px;
    height: 340px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 40px rgba(255,255,255,0.15);
    transition: 0.3s;
}

.planet-circle-img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 60px rgba(255,255,255,0.25);
}


/*page 2*/

.facts-title {
    text-align: center;
    font-family: "Audiowide", sans-serif;
    font-size: 36px;       
    font-weight: 700;
    color: #fff;
    margin-top: 160px;     
    margin-bottom: 70px;  
}

.facts-layout {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 50px;
}

.facts-left,
.facts-right {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-left: 80px;
    margin-right: 80px;
}

.fact-item h4 {
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    color: #b5d9ff;
    margin-bottom: 5px;
}


.fact-item {
    position: relative;
    padding-top: 25px;
}


.fact-item::before {
    content: "";
    position: absolute;
    top: 0;
    height: 3px;
    background: #c7c7c7;
    opacity: 0.7;
}


.facts-left .fact-item::before {
    width: 180px;
    right: 100%;      
    margin-right: 20px;
}


.facts-right .fact-item::before {
    width: 180px;
    left: 100%;      
    margin-left: 20px;
}




.planet-rotate {
    display: flex;
    justify-content: center;
    margin-top: 40px;   
    margin-bottom: 40px; 
}

.planet-rotate-img {
    width: 420px;   
    height: 420px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 40px rgba(232, 234, 235, 0.7);
    margin-bottom: 40px;
}

.planet-rotate-img img {
    width: 200%;
    height: 100%;
    object-fit: cover;
    animation: rotatePlanet 30s linear infinite;
}


@keyframes rotatePlanet {
    100% {
        transform: translateX(-50%);
    }
}



@media (max-width: 900px) {

    .planet-hero-card {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .planet-left,
    .planet-right {
        width: 100%;
    }

    .planet-circle-img {
        width: 260px;
        height: 260px;
    }

    .facts-layout {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .planet-rotate-img {
        margin: auto;
    }
}
