.planet-card {
    position: relative;
    width: 100%;
    height: 380px;

    background: #0c0c0c;  /* dark */
    border: 2px solid #262626; /* dark gray */
    border-radius: 32px;

    padding: 1rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

    transition: .3s linear;
    cursor: pointer;
}

.planet-card::before {
    content: "";
    position: absolute;
    top: -120%;
    left: -150%;
    width: 350%;
    height: 18px;
    background: #fffafa;  /* white shimmer line */
    border-radius: 10px;
    box-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    transform: rotate(-35deg);
    transition: .4s linear;
}

.planet-card:hover::before {
    top: 140%;
    left: 140%;
}

.planet-img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 32px;
    filter: brightness(75%);
    transition: .3s ease;
}

.planet-card:hover .planet-img {
    filter: brightness(65%);  
    transform: scale(1.05);
}


.planet-info {
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.planet-name {
    font-family: "Audiowide", sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fffafa;
    text-shadow: 0 0 6px rgba(255,255,255,0.5);
}

.planet-desc {
    color: #a4a4a4; /* light gray */
    font-size: .95rem;
    width: 80%;
}

.planet-btn {
    width: fit-content;
    padding: 6px 14px;
    font-size: .85rem;
    font-weight: bold;
    text-decoration: none;

    border: 2px solid #a4a4a4;
    border-radius: 12px;

    color: #fffafa;
    background: transparent;
    backdrop-filter: blur(2px);

    transition: .3s ease;
}

.planet-btn:hover {
    background: #262626; /* dark gray */
}
