{% extends "main/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock extra_css %}

{% block content %}

<div class="hero">
    <video autoplay muted loop playsinline class="hero-video">
        <source src="{% static 'videos/hero_games.mp4' %}" type="video/mp4">
    </video>

    <div class="overlay"></div>

    <div class="hero-content">
        <h1>Learn the Universe Through Play</h1>
        <p>Explore interactive space games designed to boost your knowledge.</p>
        <a href="{% url 'games:multiple_choice' %}" class="hero-btn">
            Start Playing
        </a>

    </div>
</div>

<div id="game-list" class="games-grid">
</div>

{% endblock %}
